<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DigitalSign</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://www.cryptopro.ru/sites/default/files/products/cades/cadesplugin_api.js"></script>
    <script src="/static/js/hash.js"></script>
   <!-- <script src="/static/js/signhd.js"></script>-->
</head>
<body>  
    <h1>Welcome to DigitalSign</h1>
    <form id="formDoc" enctype="multipart/form-data" method="post">
        <input id="file" type="file" name="f">
        <button id="send" type="button">Отправить</button>
    </form> 
    <script>      
        send.onclick = () => run();
      </script>
</body>
</html>